ul {
    list-style: none;
}

a {
    color: white;
}

.first-level-list li {
    background-color: black;
}

.first-level-list summary:focus, .second-level-list li {
    background-color: #199bfe;
    border-color: gray;
    border-collapse: collapse;
    border-style: solid;
}

.second-level-list summary:focus, .second-level-list li:focus {
    background-color: #00508d;
}

nav > ul {
    background-color: black;
    color: white;
    padding: 0.5%;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    position: relative;
}

nav ul li details {
    display: block;
    height: 100%;
    overflow: hidden;
}

nav ul li > ul {
    margin-left: 20px;
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

nav ul li > ul > li > details ul {
    position: absolute;
    top: 0;
    left: 100%;
}

nav ul li details[open] > ul {
    display: block;
}

nav ul li details[open] ul li details[open] ul {
    display: block;
    top: 0;
    left: 0;
}

.third-level-list {
    float: right;
    top: 0;
    right: 0;
    padding: .5rem;
    max-width: 50%;
}

span {
    color: blue;
}

.display-block {
    display: block;
    background-color: yellow;
}

.display-inline-block {
    display: inline-block;
    background-color: lime;
}

.display-inline {
    display: inline;
    background-color: lightblue;
}

.display-inline-grid {
    display: inline-grid;
    background-color: gray;
}

.display-inline-flex {
    display: inline-flex;
    background-color: pink;
}

.display-flex {
    display: flex;
    background-color: orange;
}

.border-box {
    box-sizing: border-box;
    background-color: lime;
    width: 300px;
    padding: 20px;
    border: 5px solid black;
}

.content-box {
    box-sizing: content-box;
    background-color: orange;
    width: 300px;
    padding: 20px;
    border: 5px solid black;
}

.content {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.div-float {
    margin-bottom: 5%;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: left;
}

.block {
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 1px solid #000;
    background-color: green;
}

.overflow-scroll {
    overflow: scroll;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible;
}

.static {
    background-color: red;
    position: static;
}

.relative {
    background-color: pink;
    position: relative;
}

.absolute {
    background-color: blue;
    position: absolute;
}

.sticky {
    background-color: orange;
    position: sticky;
}

.fixed {
    background-color: lime;
    position: fixed;
}

.position {
    padding: 2%;
    margin: 0 auto;
}